<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-6">
        <% if (campground.images.length > 0) { %>
        <!-- Image carousel -->
        <div id="campgroundCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="width: 100%; height: 400px">
                <% campground.images.forEach((img, i) => { %>
                <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                    <img src="<%= img.url %>" class="d-block w-100" alt="">
                </div>
                <% }) %>
            </div>
            <!-- Display carousel nav buttons for campgrounds with multiple images -->
            <% if (campground.images.length > 1) { %>
            <a class="carousel-control-prev" href="#campgroundCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#campgroundCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <% } %>
        </div>
        <% } else { %>
        <!-- No preview available photo placeholder -->
        <img src="https://i.imgur.com/RoEnZXt.jpg" class="d-block w-100">
        <% } %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location %></li>
                <li class="list-group-item">Submitted by <%= campground.author.username %></li>
                <li class="list-group-item">$<%= campground.price %>/night</li>
            </ul>
            <!-- Show edit/delete buttons to campground author only -->
            <% if (currentUser && campground.author.equals(currentUser._id)) { %>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                <!-- Override POST request with DELETE using method-override -->
                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <!-- Time since posted or last updated -->
            <div class="card-footer text-muted">
                <%= `${campground.updated ? 'Last updated' : 'Posted'} ${dayjs(campground.date).fromNow()}` %>
            </div>
        </div>
    </div>
    <div class="col-6">
        <!-- Map -->
        <div class="mb-3" id='map'></div>
        <h2>Reviews</h2>
        <!-- Show review form if the user is logged in and is not the campground author  -->
        <% if (currentUser) { %>
        <!-- novalidate nullifies "required" property to allow Bootstrap to handle .validated-form elements -->
        <form id="rating" action="/campgrounds/<%= campground._id %>/reviews" method="post" class="mb-3 validated-form"
            novalidate>
            <div class="mb-3">
                <fieldset class="starability-basic">
                    <h6>Select a rating:</h6>
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                        aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">
                    <h6>Write a review:</h6>
                </label>
                <textarea name="review[body]" id="body" cols="30" rows="3" class="form-control" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Submit Review</button>
        </form>
        <% } %>

        <!-- Display all reviews for the campground -->
        <% for (let review of campground.reviews) { %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= review.author.username %></h5>
                <p class="starability-result" data-rating="<%= review.rating %>">
                    Rated: <%= review.rating %> stars
                </p>
                <p class="card-text"><%= review.body %></p>
                <!-- Show delete button to review author only -->
                <% if (currentUser && review.author.equals(currentUser._id)) { %>
                <!-- Override POST request with DELETE using method-override -->
                <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                    method="post">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>

<!-- Retrieve map token from .env and covert campgrounds into JSON -->
<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campground = <%- JSON.stringify(campground) %>;
</script>
<script src="/javascripts/showPageMap.js"></script>